<h3 class="board-title" *ngIf="board">{{board.title}}</h3>
<table class="t-posts">
    <thead>
        <tr>
            <th class="row-title text-centered">제목</th>
            <th class="row-writer">작성자</th>
            <th class="row-date text-centered">작성일</th>
            <th class="row-view text-centered">조회</th>
            <th class="row-like text-centered">좋아요</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>
                <a routerLink="/posts/{{post.id}}">
                {{post.id}} {{post.title}}
                <span class="icon"><mat-icon *ngIf="post.has_image" 
                [inline]="true">image</mat-icon></span>
                [{{post.like_count}}]</a>
            </td>
            <td>{{post.writer.full_name}}</td>
            <td class="text-centered">{{post.created_at}}</td>
            <td class="text-centered">{{post.view_count}}</td>
            <td class="text-centered">{{post.like_count}}</td>
        </tr>
    </tbody>
</table>
<button>글쓰기</button>