.posts {
    list-style-type: none; 
    background-color: white;
 }
 .icon {
    font-size: 1.3em;
    position: relative;
    top: 5px;
 }

 .posts > * + * {
    margin-top: 0;
 }
 li {
    border: 1px solid #EAEAEA;
    border-right: none;
    border-left: none;
 }

 li + li {
     border-top: none;
 }