<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  
  <label>
    게시판
    <select formControlName="idBoard">
      <option value="0">게시판선택</option>
      <option *ngFor="let board of boards" 
      [ngValue]="board.id">{{board.title}}
      </option>
    </select>
  </label>

  <label>
    제목
    <input type="text" formControlName="title"
    required>
  </label>

  <div class="editor">
    <quill-editor formControlName="body"
    [style]="{height: '400px'}"
    required></quill-editor>
  </div>

  <label>
    전체공개
    <input type="radio" formControlName="isPublished"
    name=isPublished [value]="true"
    required>
  </label>

  <label>
    비공개
    <input type="radio" formControlName="isPublished"
    name=isPublished [value]="false"
    required>
  </label>

  <button type="submit" *ngIf="isEdit === false">확인</button>
  <button type="submit" *ngIf="isEdit === true">
    <mat-icon class="icon" [inline]="true">check</mat-icon>
    수정 완료
  </button>
</form>

<p>todo remove this: {{postForm.status}}</p>