<div class="wrapper">

  <ul>
    <li *ngFor="let comment of comments" class="comment">

      <div>
          <span>{{comment.writer.full_name}} </span>
          <span class="date">{{comment.createdAt}}</span>
          <span class="reply">
            <mat-icon [inline]="true">subdirectory_arrow_right</mat-icon>
            <button id="{{comment.id}}" (click)="addCommentForm($event)">답글</button>         
          </span>
      </div>

      <div>
          {{comment.body}}
      </div>

      <div *ngIf="addComment && comment.id == idComment">
          <mat-icon [inline]="true">subdirectory_arrow_right</mat-icon>
          <app-comment-form [post]="post" [comments]="comments" [idComment]="comment.id"></app-comment-form>
      </div>

  </ul>

  <app-comment-form [post]="post" [comments]="comments"></app-comment-form>

</div>