.board-title {
    padding-bottom: .5em;
}

.t-posts {
    width: 100%;
    table-layout: fixed;
}

.t-posts th {
    /* position of text in th */
    border-top: 1px solid black;
    padding: 0.9em;
}

.t-posts tr {
    /* gap between tr */
    height: 2em;
    border-bottom: 1px solid #EAEAEA;
}

.t-posts td {
    padding: 0.7em;
}

/* align row with % */
.row-title {
    width: 58%;
}
.row-writer {
    width: 14%;
}
.row-date {
    width: 12%;
}
.row-view {
    width: 8%;
}
.row-like {
    width: 8%;
}

.text-centered {
    text-align: center;
}

.icon {
    font-size: 1.2em;
    position: relative;
    top: 3px;
}

.write {
    float: right;
}

.btn-write {
    padding: 0.5em;
}