<h3 class="board-title">{{boardTitle}}</h3>
<table class="t-posts">
    <thead>
        <tr>
            <th class="row-title text-centered">제목</th>
            <th class="row-writer">작성자</th>
            <th class="row-date text-centered">작성일</th>
            <th class="row-view text-centered">조회</th>
            <th class="row-like text-centered">좋아요</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }">
            <td>
                <a [routerLink]="['/posts', post.id]">
                {{post.id}} {{post.title}}
                <span class="icon"><mat-icon *ngIf="post.hasImage" 
                inline="true">image</mat-icon></span>
                [{{post.commentCount}}]</a>
            </td>
            <td>{{post.writer.name}}</td>
            <td class="text-centered">{{post.createdAt | date:'yyyy-MM-dd'}}</td>
            <td class="text-centered">{{post.viewCount}}</td>
            <td class="text-centered">{{post.likeCount}}</td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-outline-secondary btn-write float-right">
    <a [routerLink]="['/posts']">
        <mat-icon class="icon" inline="true">create</mat-icon>글쓰기
    </a>
</button>
<pagination-controls 
(pageChange)="pageChanged($event)"
previousLabel="이전"
nextLabel="다음"
autoHide="true">
</pagination-controls>

