.wrapper {
    background-color: #FBFBFB;
    padding: 1em 2em;    
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #EAEAEA;
    padding: .5em;
}

.date {
    font-size: .3em;
    color: #ACACAC;
}

.reply {
    margin-left: 2em;
}

.reply-btn {
    font-size: .8em;
}

.sub-comment-icon {
    color: red;
    font-size: 1em;
}

.comment-control {
    float: right;
}

.comment-control a {
    margin-left: .5em;
}