<div class="wrapper">

  <ul>
    <li *ngFor="let comment of comments" class="comment">
      
      <div [ngClass]="{'reply': comment.level !== 0}">

          <mat-icon *ngIf="comment.level !== 0"
          [inline]="true" class="reply-icon">
          subdirectory_arrow_right</mat-icon>

          <div>
              <span>{{comment.writer.name}} </span>
              <span class="date">{{comment.createdAt | date:'yyyy-MM-dd'}} </span>
              <span class="reply-btn">
                <mat-icon [inline]="true">subdirectory_arrow_right</mat-icon>
                <button id="{{comment.id}}" (click)="insertCommentForm($event)">답글</button>         
              </span>
          </div>
     
          <div>
              {{comment.body}}
          </div>
    
          <div *ngIf="isCommentFormInserted && comment.id == targetCommentId">
              <mat-icon [inline]="true">subdirectory_arrow_right</mat-icon>
              <app-comment-form [post]="post" [comments]="comments" [targetCommentId]="comment.id">
              </app-comment-form>
          </div>
      </div>

    </li>

  </ul>

  <app-comment-form [post]="post" [comments]="comments"></app-comment-form>

</div>