<div class="wrapper">

  <ul>
    <li *ngFor="let comment of comments">
      
      <div [ngClass]="{'reply': comment.level !== 0}">
          <div>
              <mat-icon *ngIf="comment.level !== 0" 
              [inline]="true" class="sub-comment-icon">subdirectory_arrow_right</mat-icon>
              <span>{{comment.writer.name}} </span>
              <span class="date">{{comment.createdAt | date:'yyyy-MM-dd'}} </span>
              <mat-icon [inline]="true">reply</mat-icon>
            
              <button class="reply-btn"
              (click)="insertCommentForm(comment)">
              답글</button>
              
              <span class="comment-control">
                <a (click)="insertCommentEditForm(comment)">수정</a> |
                <app-comment-delete [targetComment]="comment" (deleted)="onDeleted($event)"></app-comment-delete>
              </span>
          </div>
     
          <div>{{comment.body}}</div>
          
          <app-comment-edit *ngIf="isCommentEditFormInserted && comment.id == targetCommentId"
          [targetComment]="comment" (edited)="onEdited($event)"></app-comment-edit>
  
          <app-comment-create [postId]="postId" [parentComment]="comment"
          *ngIf="isCommentFormInserted && comment.id == parentCommentId" (created)="onCreated($event)"></app-comment-create>
      </div>

    </li>
  </ul>
  <app-comment-create [postId]="postId" (created)="onCreated($event)"></app-comment-create>

</div>