ul {
   padding: 15px 5px 15px 5px;
}

.boards {
    list-style-type: none; 
    background-color: white;
    border-top: 2px solid #100D7C ;
    border-bottom: 2px solid #100D7C ;
 }

 .icon {
   position: relative;
   top: 1px;
}

.bold {
   font-weight: bold;
}