<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  
  <label>
    게시판
    <select formControlName="idBoard">
      <option *ngFor="let board of boards" 
      [value]="board.id">{{board.title}}
      </option>
    </select>
  </label>

  <label>
    제목
    <input type="text" formControlName="title">
  </label>

  <label>
    <quill-editor formControlName="body" 
    (onEditorCreated)="getEditorInstance($event)" [style]="{height: '400px'}"></quill-editor>
  </label>

  <label>
    전체공개
    <input type="radio" formControlName="isPublished" 
    name=isPublished [value]="true">
  </label>

  <label>
    비공개
    <input type="radio" formControlName="isPublished" 
    name=isPublished [value]="false">
  </label>

  <button type="submit">확인</button>
</form>

<p>todo remove this: {{diagnostic}}</p>
<p>todo remove this: {{postForm.status}}</p>