.boards {
    list-style-type: none; 
    background-color: white;
    border-top: 2px solid #100D7C ;
    border-bottom: 2px solid #100D7C ;
 }

 ul {
    padding: 15px 5px 15px 5px;
 }

 .icon {
   font-size: 1em;
   position: relative;
   top: 1px;
}