/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~bootstrap/dist/css/bootstrap.css";

:root {
    box-sizing: boarder-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.98em;
    color:#6F6C6C;
}

body * + * {
    margin-top: 0.5em;
}

a {
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    color:#6F6C6C;
}

a:hover {
    text-decoration: underline;
    color: #6F6C6C;
}

.btn {
    font-size: .9em;
    border-radius: 0%;
}

.btn:hover {
    background-color: #ffffff !important;
}

.test {
    font: 100px;
}