<div class="wrapper">

  <div *ngIf="post" innerHTML="{{post.body}}"></div>

  <app-comment-list *ngIf="post" [postId]="post.id"></app-comment-list>

  <div class="edit">
      <span>
        <button type="button" class="btn btn-outline-secondary">
          <a (click)="onClickEdit()">수정</a>
        </button>
      </span>

      <span>
        <button type="button" class="btn btn-outline-secondary">
          <a (click)="onClickDelete()">삭제</a>
        </button> 
      </span>
  </div>

</div>
