<div class="top-control-btn">
  <button type="button" class="btn btn-outline-secondary" 
  (click)="onClickPrevious()">
    이전글
  </button>

  <button type="button" class="btn btn-outline-secondary" 
  (click)="onClickNext()">
    다음글
  </button>

  <button type="button" class="btn btn-outline-secondary list" 
    (click)="onClickBackToList()">
      목록
  </button>
</div>

<div class="wrapper" *ngIf="post">
  <div innerHTML="{{post.body}}"></div>

  <app-like-toggle [isUserLike]="post.isUserLike" (liked)="onLiked($event)"></app-like-toggle>

  <app-comment-list [postId]="post.id"></app-comment-list>
</div>


<div class="bottom-control-btn">
  <button type="button" class="btn btn-outline-secondary" 
  (click)="onClickBackToList()">
    목록
  </button>

  <button type="button" class="btn btn-outline-secondary edit" 
  (click)="onClickEdit()">
    수정
  </button>

  <button type="button" class="btn btn-outline-secondary delete" 
  (click)="onClickDelete()">
    삭제
  </button>
</div>

<app-post-nav [post]=post class="nav"></app-post-nav>

